<h1>About Bloccit</h1>
<p>Created by : Me</p>

<div class="boxed">
    <%= link_to "https://twitter.com/Rotorcaptain", class: "social-btn"%>
</div>

.boxed { 
    position: relative;
	height: 200px;
	background: #44accf;
	width: 200px;
    border: 10px solid #99c;
    padding: 20px;
    margin: 20px;
}
